@model MagazaSistem.Entites.Models.Product

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div style="width:auto; height:auto">

    @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="productSaveBar">
            <div class="productSaveButton"><div style="margin-top:5px;" class="product-li-row-text"><a href="/Product/Index" class="buttonx" style="  background-color: rgba(192, 29, 29, 0.963) "><span>İptal Et <i class="fa-solid fa-xmark"></i></span></a></div></div>
            <div class="productSaveButton"><div style="margin-top:5px;" class="product-li-row-text"><button class="buttonx"><span>Kaydet <i class="fa-regular fa-square-check"></i></span></button></div></div>
            <div class="productSaveText"><p class="p">Ürün Ekleme</p></div>
        </div>

        <div class="form-groupAdd">
            <ul>

                <li style="display:flex;">

                    <div class="liLabelDivAdd">@Html.Label("Ürün İsmi:")</div>

                    <div class="liTextBoxDivAdd">  @Html.TextBoxFor(x => x.ProductName, new { @class = "form-controlAdd" })</div>
                </li>

                <li style="display:flex;">

                    <div class="liLabelDivAdd">
                        @Html.Label("Stok Kodu: ")
                    </div>

                    <div class="liTextBoxDivAdd">
                        @Html.TextBoxFor(x => x.ProductStockCode, new { @class = "form-controlAdd" })
                    </div>
                </li>


                <li style="display:flex;">

                    <div class="liLabelDivAdd">@Html.Label("Stok Miktarı: ")</div>
                    <div class="liTextBoxDivAdd">
                        @Html.TextBoxFor(x => x.ProductStockAmount, new { @class = "form-controlAdd" })
                    </div>
                </li>

                <li style="display:flex;">
                    <div class="liLabelDivAdd">
                        @Html.Label("Ürün Fiyatı: ")
                    </div>
                    <div class="liTextBoxDivAdd">
                        @Html.TextBoxFor(x => x.ProductPrice, new { @class = "form-controlAdd" })
                    </div>
                </li>

                <li style="display:flex;">
                    <div class="liLabelDivAdd">@Html.Label("Ürün Barkodu: ")</div>
                    <div class="liTextBoxDivAdd">
                        @Html.TextBoxFor(x => x.ProductBarcode, new { @class = "form-controlAdd" })
                    </div>
                </li>

                <li style="display:flex;">
                    <div class="liLabelDivAdd">@Html.Label("İndirimli Fiyatı: ")</div>
                    <div class="liTextBoxDivAdd">
                        @Html.TextBoxFor(x => x.ProductDiscountedPrice, new { @class = "form-controlAdd" })
                    </div>
                </li>

                <li style="display:flex;">
                    <div class="liLabelDivAdd">
                        @Html.Label("Ürün Alış Fiyatı: ")
                    </div>
                    <div class="liTextBoxDivAdd">
                        @Html.TextBoxFor(x => x.ProductPurchasePrice, new { @class = "form-controlAdd" })
                    </div>


                </li>

                <li style="display:flex;">
                    <div class="liLabelDivAdd">
                        @Html.Label("Kategori: ")
                    </div>
                    <div class="liTextBoxDiv">
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-controlAdd" })
                    </div>
                </li>


                <li style="display:flex;">
                    <div class="liLabelDivAdd">
                        @Html.Label("Alt Kategori: ")
                    </div>
                    <div class="liTextBoxDivAdd">
                        @Html.DropDownListFor(x => x.SubcategoryId, (List<SelectListItem>)ViewBag.Subcategories, new { @class = "form-controlAdd" })
                    </div>
                </li>


                <li style="display:flex;">
                    <div class="liLabelDivAdd">
                        @Html.Label("Marka: ")
                    </div>
                    <div class="liTextBoxDiv">
                        @Html.DropDownListFor(x => x.BrandId, (List<SelectListItem>)ViewBag.Brands, new { @class = "form-controlAdd" })
                    </div>
                </li>
                <li style="display:flex;">
                    <div class="liLabelDivAdd">
                        @Html.Label("Renk: ")
                    </div>
                    <div class="liTextBoxDiv">
                        @Html.DropDownListFor(x => x.ColorId, (List<SelectListItem>)ViewBag.Colors, new { @class = "form-controlAdd" })
                    </div>
                </li>
                <li style="display:flex;">
                    <div class="liLabelDivAdd">
                        Resim:
                    </div>
                    <div class="liTextBoxDivAdd">
                        <input type="file" name="person" />
                    </div>


                </li>


            </ul>
        </div>

    }


</div>
