@using MagazaSistem.Entites.Models
@model List<Product>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="productSaveBar">
    <div class="productSaveButton"><div style="margin-top:5px;" class="product-li-row-text"><a href="~/Product/add"><button class="buttonx" style="width:100px; "><span>Ekle</span></button></a></div></div>
   
    <div class="productSaveText"><p class="p">Ürünler</p></div>

</div>
<div class="anaDiv">

   

    @foreach (var product in Model)
    {

        <div class="urunDiv">

            <div class="imgDiv" style="width: 150px; margin:auto;"><img src="@product.ProductImage" width="150px" height="90%"></div>

            <div class="imgDiv">
                <ul class="product-ul">
                    <li class="product-ul-li">
                        <div class="product-li-row">
                            <div style="width: 60%; padding-left: 20px;" class="product-li-row-text"><b>Adı:</b></div>
                            <div class="product-li-row-text">@product.ProductName</div>

                        </div>
                    </li>

                    <li class="product-ul-li">
                        <div class="product-li-row">
                            <div style="width: 60%; padding-left: 20px;" class="product-li-row-text"><b>Stok Kodu:</b></div>
                            <div class="product-li-row-text">@product.ProductStockCode</div>
                        </div>
                    </li>

                    <li class="product-ul-li">
                        <div class="product-li-row">
                            <div style="width: 60%; padding-left: 20px;" class="product-li-row-text"><b>Ürün Fiyatı</b></div>
                            <div class="product-li-row-text">@product.ProductPrice</div>
                        </div>
                    </li>

                    <li class="product-ul-li">
                        <div class="product-li-row">
                            <div style="width: 60%; padding-left: 20px;" class="product-li-row-text"><b>Stok Miktarı:</b></div>
                            <div class="product-li-row-text">@product.ProductStockAmount</div>
                        </div>
                    </li>

                    <li class="product-ul-li">
                        <div class="product-li-row">
                            <div style="width: 60%; padding-left: 20px;" class="product-li-row-text"><b>Marka:</b></div>
                            <div class="product-li-row-text">@product.Brand.BrandName</div>
                        </div>
                    </li>

                    <li class="product-ul-li">
                        <div class="product-li-row">
                            <div style="width: 60%; padding-left: 20px;" class="product-li-row-text"><b>Açıklama:</b></div>
                            <div class="product-li-row-text">xxxaxxx</div>
                        </div>
                    </li>

                    <li class="product-ul-li">
                        <div class="product-li-row">

                            <div style="margin-top:5px;" class="product-li-row-text"><a class="buttonx" style="background-color:crimson;" href="/Product/Delete/@product.ProductId"><span><i class="fa-solid fa-trash"></i></span></a></div>
                            <div style="margin-top:5px;" class="product-li-row-text"><a class="buttonx" href="/Product/Update/@product.ProductId"><span><i class="fa-solid fa-pencil"></i></span></a></div>
                            <div style="margin-top:5px;" class="product-li-row-text"><button class="buttonx" style="background-color:cornflowerblue;"><span><i class="fa-solid fa-circle-nodes"></i></span></button></div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>

    }
</div>

